@import url("https://fonts.cdnfonts.com/css/w95fa");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 10;
}

a {
  text-decoration: none;
  color: black;
  font-family: "W95FA", sans-serif;
  cursor: default;
}

body {
  position: relative;
  overflow: hidden;
}

.loadingSection {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/startScreen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  animation: startingDisplay 2s forwards;
  display: none;
}
.loadingSection .loadingBar {
  width: 100%;
  height: 40px;
  background-color: gray;
  animation: loadingAnimation 1s infinite;
}
.loadingSection .loadingBar .loadingThumb {
  float: right;
  width: 500px;
  height: 40px;
  background: rgb(152, 152, 152);
  background: linear-gradient(85deg, rgba(152, 152, 152, 0) 0%, rgb(1, 1, 96) 50%, rgba(152, 152, 152, 0) 100%);
  animation: loading 2s infinite;
}
@keyframes loading {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-450%);
  }
}

.termianlSectionStart {
  font-family: "W95FA", sans-serif;
  background-color: black;
  font-weight: 100;
  color: rgb(154, 154, 154);
  width: 100%;
  height: 100vh;
  padding: 200px;
  font-size: 1.5rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: none;
}
.termianlSectionStart .caretSpan {
  animation: caret 1s infinite;
}
@keyframes caret {
  0% {
    border-bottom: 5px solid gray;
  }
  50% {
    border: none;
  }
  100% {
    border-bottom: 5px solid gray;
  }
}

.desktopSection {
  width: 100%;
  height: 100vh;
  background-color: teal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "W95FA", sans-serif;
  overflow: hidden;
  position: relative;
}
.desktopSection .trash {
  float: right;
}
.desktopSection .desktopicons {
  width: 150px;
  height: 800px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.desktopSection .desktopicons .icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 100px;
}
.desktopSection .desktopicons .icons h2 {
  font-size: large;
  cursor: default;
  background-color: teal;
}

.startMenu {
  width: 100%;
  height: 50px;
  background-color: rgb(182, 182, 182);
  box-shadow: 0px -3px 3px white;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
  z-index: 100;
}
.startMenu .startButton {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "W95FA", sans-serif;
  font-size: x-large;
  background: none;
  border-top: 3px solid white;
  border-left: 2px solid white;
  box-shadow: 2px 2px 2px black;
}
.startMenu .dateFooter {
  width: 150px;
  height: 40px;
  background-color: rgb(182, 182, 182);
  box-shadow: inset 1px 1px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
  font-family: "W95FA", sans-serif;
}

.displayFlex {
  display: flex !important;
}

#deploy-window {
  display: none;
  position: absolute;
  background-color: #c0c0c0;
  width: 200px;
  padding: 2px 3px;
  z-index: 1;
  font-family: Arial, sans-serif;
  border-left: 2px solid white;
  border-top: 3px solid white;
  border-right: 3px solid black;
  border-bottom: 2px solid black;
}
#deploy-window ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#deploy-window ul li {
  padding: 8px 30px;
  cursor: default;
  background-color: #c0c0c0;
  border-bottom: 3px solid #000;
  box-shadow: inset -1px -1px 2px white;
  font-weight: 200;
}
#deploy-window ul li:hover {
  background-color: rgb(2, 2, 188);
}
#deploy-window ul li:hover a {
  color: white;
}
#deploy-window ul li:last-child {
  border-bottom: none;
}

span {
  border-bottom: 2px solid black;
}

.backgroundHover {
  background-color: rgb(2, 2, 188);
}

.propertiesWindow {
  width: 700px;
  height: 700px;
  background-color: rgb(182, 182, 182);
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: none;
  z-index: 400 !important;
}
.propertiesWindow header {
  width: 100%;
  height: 30px;
  background-color: rgb(2, 2, 188);
  font-family: "W95FA", sans-serif;
  color: white;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10px;
}
.propertiesWindow header button {
  width: 20px;
  height: 20px;
  background-color: rgb(182, 182, 182);
  font-weight: 900;
}
.propertiesWindow .buttonsAndContent {
  width: 670px;
  height: 600px;
  background-color: rgb(182, 182, 182);
  border: none;
}
.propertiesWindow .buttonsAndContent .propButtons {
  width: 100%;
  height: 30px;
  background-color: rgb(182, 182, 182);
  display: flex;
  flex-direction: row;
  transform: translateY(2px);
}
.propertiesWindow .buttonsAndContent .propButtons button {
  padding: 10px;
  height: 30px;
  font-family: "W95FA", sans-serif;
  color: black;
  background-color: rgb(182, 182, 182);
  text-align: center;
  border-top: 2px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid white;
  border-bottom: none;
  border-right: 3px solid black;
}
.propertiesWindow .buttonsAndContent .propButtons :first-child {
  z-index: 5;
}
.propertiesWindow .buttonsAndContent .propContent {
  width: 100%;
  height: 550px;
  border-left: 3px solid rgb(231, 231, 231);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 4px solid white;
  z-index: 2 !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.propertiesWindow .buttonsAndContent .propContent .monitor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.propertiesWindow .buttonsAndContent .propContent .monitor .mainmonitor {
  width: 200px;
  height: 150px;
  background-color: rgb(182, 182, 182);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 3px solid white;
  border-bottom: 3px solid black;
  border-left: 2px solid white;
  border-right: 3px solid black;
}
.propertiesWindow .buttonsAndContent .propContent .monitor .mainmonitor .screen {
  width: 170px;
  height: 120px;
  background-color: teal;
}
.propertiesWindow .buttonsAndContent .propContent .monitor .screendown {
  width: 100px;
  height: 15px;
  border: 3px solid black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.propertiesWindow .buttonsAndContent .propContent .monitor .screenleg {
  width: 70px;
  height: 10px;
  background-color: rgb(182, 182, 182);
  border: 3px solid black;
}
.propertiesWindow .buttonsAndContent .propContent .monitor .leg {
  width: 150px;
  height: 10px;
  border: 3px solid rgb(88, 88, 88);
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent {
  width: 100%;
  height: 330px;
  background-color: rgb(182, 182, 182);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent .wallLabel {
  transform: translateX(-150px) translateY(10px);
  background-color: rgb(182, 182, 182);
  font-family: "W95FA", sans-serif;
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent .patterns {
  width: 400px;
  height: 280px;
  background-color: rgb(182, 182, 182);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
  border: 4px solid rgb(216, 216, 216);
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent .patterns .centerpatern {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent .patterns .centerpatern .paternsCotnainer {
  width: 270px;
  height: 130px;
  background-color: white;
  overflow-y: scroll;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent .patterns .centerpatern .paternsCotnainer::-webkit-scrollbar {
  background-color: rgb(201, 201, 201);
  width: 30px;
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent .patterns .centerpatern .paternsCotnainer::-webkit-scrollbar-thumb {
  height: 1px;
  background-color: gray;
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent .patterns .centerpatern .paternsCotnainer .none {
  margin-bottom: 0px;
  height: 25px;
  display: flex;
  align-items: center;
  font-family: "W95FA", sans-serif;
  padding: 0 10px;
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent .patterns .centerpatern .paternsCotnainer .none:hover {
  background-color: blue;
  color: white;
  border: 2px dotted white;
}
.propertiesWindow .buttonsAndContent .propContent .propertiesContent .patterns .paternButton {
  width: 150px;
  height: 40px;
  transform: translateX(60px);
  background-color: rgb(182, 182, 182);
  border-top: 3px solid white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid white;
  font-family: "W95FA", sans-serif;
}
.propertiesWindow .applybuttons {
  width: 100%;
  height: 50px;
  background-color: rgb(182, 182, 182);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
  justify-content: flex-end;
}
.propertiesWindow .applybuttons button {
  width: 100px;
  height: 30px;
  font-family: "W95FA", sans-serif;
  background-color: rgb(182, 182, 182);
  border-top: 3px solid white;
  border-right: 3px solid black;
  border-left: 3px solid white;
  border-bottom: 3px solid black;
}

.displayNone {
  display: none !important;
}

.displayBlock {
  display: block !important;
}

.explorer {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display: flex;
  flex-direction: column;
  display: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.explorer .explorerHeader {
  width: 100%;
  height: 30px;
  background-color: gray;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.explorer .explorer-header-buttons button {
  width: 20px;
  height: 20px;
}
.explorer .explorerMainContent {
  width: 100%;
  height: 100%;
  background-color: rgb(182, 182, 182);
  padding: 20px;
  position: relative;
}
.explorer .error {
  width: 350px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
}
.explorer .error header {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  width: 100%;
  background-color: crimson;
  height: 30px;
  padding: 0 10px;
}
.explorer .error h2 {
  padding: 0 20px;
}
.explorer .error button {
  width: 100px;
  height: 30px;
  background-color: rgb(182, 182, 182);
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
.explorer .explorer-input {
  width: 100%;
  height: 50px;
  background-color: rgb(182, 182, 182);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid black;
}
.explorer .explorer-input h3 {
  padding: 10px;
}
.explorer .explorer-input input {
  width: 100%;
  padding: 0 10px;
  height: 30px;
}

.techStackpage {
  width: 50%;
  height: 50%;
  background-color: white;
  position: absolute;
  top: 30%;
  left: 30%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: none;
}
.techStackpage header {
  width: 100%;
  height: 40px;
  background-color: rgb(2, 2, 188);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  flex-direction: row;
}
.techStackpage header .techHeaderLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: "W95FA", sans-serif;
}
.techStackpage header .techHeaderLogo img {
  padding: 5px;
}
.techStackpage header .techstrackHeaderButtons button {
  width: 20px;
  height: 20px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.widthresizeSmaller {
  width: 100% !important;
  height: 100% !important;
}

.windowresizeBigger {
  top: 0 !important;
  left: 0 !important;
}/*# sourceMappingURL=style.css.map */